numpy==2.0.2
pandas==2.2.2
matplotlib==3.10.0
seaborn==0.13.2
plotly==5.24.1
tensorflow==2.19.0
torch==2.9.0+cu126
torchvision==0.24.0+cu126
opencv-python==4.12.0.88
albumentations==2.0.8
pillow==11.3.0
tqdm==4.67.1
flwr==1.23.0